@import url('style.css');
main *{
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: all 500ms ease;
}

.log-container{
    width: 70%;
    height: auto;
    max-height: 100%;
    display: flex;
    position: relative;
    border: .5px solid #000;
    overflow: hidden;
}

.input-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}
.wall{
    position: absolute;
    max-width: 50%;
    height: 100%;
    overflow: hidden;
    border: .5px solid #000;
}
.graying{
    filter: grayscale(100%) blur(2px);
}
.wall img{
    width: 100%;
    
}

.wall .img2{
    position: absolute;
    z-index: 2;
    opacity: 1;
    left: 0;
}
.wall .img3{
    position: absolute;
    z-index: 3;
    opacity: 0;
    left: 0;
}
a{
    cursor: pointer;
}
.login-buttons{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.login-buttons button{
    font-size: .8em;
    padding: 15px;
}
.login-form, .signup-form{
    display:flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
}
.element{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    gap: 5px;
}
.log-container input{
    width: 100%;
    font-size: .8em;
    padding: var(--space_inside);
    border-radius: var(--radius);
    border: 1px solid rgb(137, 137, 137);
    margin-bottom: 10px;
}
.login-section, .signup-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
    gap: 10px;
}

.google{
    background-color: #fff;
    color: #000;
    border: .5px solid #000;
}
.fa-google, .fa-facebook{
    width: 10%;
    height: 1.5em;
}
.fa-facebook{
    filter: invert(100%);
}
.facebook{
    background-color: rgb(48, 48, 197);
}
.facebook, .google{
    display: flex;
    justify-content: center;
}


@keyframes move {
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}
@keyframes moveback {
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}


/* Mobile view */
@media screen and (min-width: 1000px) and (max-width: 1099px){
    .wall img{
        width: 150%;
        /* filter: grayscale(35%); */
    }
   
}
@media screen and (min-width: 1100px){
    .wall img{
        width: 120%;
        /* filter: grayscale(35%); */
    }
   
}
@media screen and (max-width: 1000px){
    main{
        display: block;
    }
    .log-container{
        position: relative;
        height: 100%;
        width: 100%;
    }
    .wall{
        display: none;
    }
    .login-section{
        position: absolute;
        width: 100%;
        opacity: 1;
        transition: all 300ms;
        transition-delay: 500ms;
    }
    .signup-section{
        position: absolute;
        width: 100%;
        opacity: 0;
        padding: 10px 50px 10px 50px;
        transition: all 300ms ;
        transition-delay: 500ms;
    }
}

input{
max-width: 300px;
} 
button{
    max-width: 300px;
}

@keyframes move_mobile_mode {
     from{
        left: 0;
    }
    to{
        left: 50%;
    }
}
@keyframes moveback_mobile_mode {
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}
.signup-section{
    font-size: 12px;
}